<h1>About</h1>
<h2>Introduction</h2>
<p>
This is a very simple <a href="http://rubyonrails.org/">rails</a> app written by <a href="http://swm.cc">Stephen McCullough</a>/<a href="http://www.github.com/swmcc">@swmcc</a>. The main aim of this app is to keep some very basic detail information on a daily game of pool played by Stephen McCullough and Declan Traynor, two software engineers from Belfast that currently work for <a href="http://www.shopkeep.com">ShopKeep</a>.
</p>
<h2>Background</h2>
<p>In August 2016 ShopKeep Belfast moved their offices from Ormeau Avenue to Linenhall Street. Along with advances like air conditioning and the like we also procured a pool table. 50 pence a game and at the end of the month ShopKeep chooses a charity to give the proceeds to.</p>
<p>Everyone soon found their level however Stephen and Declan started to play each other daily, usually after lunch and at some point a tally of winning/losing was created. Keeping track of the win/loss tally wasn't hard. When a game was finished the loser has to go into the #belfast slack channel for ShopKeep and give a tally of the new score.</p>
<p><a href="http://www.github.com/srushe">Stephen Rushe</a> complained one day about not knowing when someone was making a comeback or losing more frequently. So being developers - Stephen created this very simple app to keep a very simple tally. Hopefully someone will extend it or consume the json rendered from the app to give better stats ;) (hint <a href="http://www.twitter.com/srushe">steve</a>).</p>
<p><a href="https://github.com/swmcc/declanv.swm.cc">Pull Requests</a> are encouraged ane welcomed for this app if you want to extend it.</p>
<p>Stephen & Declan play mostly for fun and this is what this app is. It is in no way a standard bearer for an application that should be used for anything else. It took about an hour to put up in total.</p>
